<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="favourites.length > 0; else noFavs">
    <ion-item *ngFor="let recipe of favourites" [routerLink]="['/details', recipe.id]">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image" />
      </ion-thumbnail>
      <ion-label>{{ recipe.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noFavs>
    <p>No favourite recipes yet.</p>
  </ng-template>
</ion-content>
