<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-radio-group [(ngModel)]="measurement" (ionChange)="onMeasurementChange()">
      <ion-list-header>
        <ion-label>Measurement Units</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="start" value="metric"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>US</ion-label>
        <ion-radio slot="start" value="us"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle
      [(ngModel)]="darkMode"
      (ionChange)="toggleDarkMode()">
    </ion-toggle>
  </ion-item>

</ion-content>
